@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans");
body {
  margin: 0;
  padding: 0;
  font-family: "Black Han Sans", Arial, sans-serif;
  background-color: #f8f9fa;
  color: #ced4da;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
.color-swatch {
  background-color: inherit;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  cursor: pointer;
}
.color-swatch::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
  border: none;
}
.color-swatch::-webkit-color-swatch {
  padding: 0;
  border: none;
}
.header {
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%) translateY(-50%);
  word-break: keep-all;
}
.example-text {
  position: absolute;
  margin: 0 auto;
  display: inline-block;
  bottom: 35vh;
  left: 50vw;
  transform: translateX(-50%) translateY(50%);
  font-size: 16rem;
  text-transform: capitalize;
  word-break: keep-all;
}
.logo-emoji {
  width: 300px;
}
.reset-button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 6px 4px 4px;
  border-top-right-radius: 6px;
  cursor: pointer;
  background: #f8f9fa;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}