@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f8f9fa;
  color: #ced4da;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  text-align: center;
}
.color-swatch {
  background-color: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  width: 100%;
  -webkit-appearance: none;
  height: 20vh;
  cursor: pointer;
}
.color-swatch::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
  border: none;
}
.color-swatch::-webkit-color-swatch {
  padding: 0;
  border: none;
}
.header {
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%) translateY(-50%);
  word-break: keep-all;
}
.example-text {
  position: absolute;
  margin: 0 auto;
  display: inline-block;
  bottom: 35vh;
  left: 50vw;
  transform: translateX(-50%) translateY(50%);
  font-size: 16rem;
  text-transform: capitalize;
  word-break: keep-all;
}
}